@import url("file:///home/shripad/.cache/wal/colors-waybar.css");

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 20px;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

/* GLOBAL MODULE STYLE */
#custom-launcher,
#clock,
#workspaces,
#tray,
#pulseaudio,
#backlight,
#network,
#custom-cpu_ram,
#custom-power,
#battery {
  background: alpha(@background, 0.90);
  padding: 4px 14px;
  margin: 0 3px;
  border-radius: 999px;
}

/* LEFT */
#custom-launcher {
  padding-left: 16px;
  padding-right: 16px;
}

#custom-power {
	padding-left: 16px;
  	padding-right: 10px;
}

#clock {
  color: @foreground;
  padding: 4px 14px;
  min-height: 36px;
}

/* GTK label inside clock */
#clock label {
  font-size: 13px;
  font-weight: 500;
}

/* First line (time) */
#clock label:first-child {
  font-size: 14px;
  font-weight: 600;
}

/* Second line (date) */
#clock label:last-child {
  font-size: 11px;
  opacity: 0.85;
}


/* WORKSPACES CONTAINER */
#workspaces {
  background: alpha(@background, 0.90);
  padding: 8px 10px;
  margin: 0 6px;
  border-radius: 999px;
}

/* DEFAULT (INACTIVE) WORKSPACE */
#workspaces button {
  background: alpha(@foreground, 0.25);
  color: transparent;
  min-width: 24px;
  min-height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  padding: 3px;
  transition: all 0.25s ease;
}

/* ACTIVE WORKSPACE */
#workspaces button.active {
  background: @color4;
  color: #000000;
  min-width: 34px;
  min-height: 22px;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* HOVER */
#workspaces button:hover {
  background: alpha(@color4, 0.65);
}

/* VOLUME */
#pulseaudio {
}


#pulseaudio.muted {
  color: alpha(@foreground, 0.5);
}

/* BRIGHTNESS */
#backlight {
}

/* RIGHT */
#network {
  color: @color6;
}

/* BATTERY STATES */
#battery{
  color: #a6e3a1; /* green */
}

#battery.warning {
  color: #f9e2af; /* yellow */
}

#battery.critical {
  color: #f38ba8; /* red */
}

#battery.charging {
  color: #94e2d5; /* cyan while charging */
}

/* TRAY */
#tray {
  padding-right: 12px;
  padding-left: 12px;
}

